/*
Author: Matt Pahuta
https://www.mattpahuta.com
Date: December 2023
*/

:root {
  /* font-family: 'Inter', sans-serif; */
  --ff-primary: 'Inter', sans-serif;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.375rem;
  --fs-700: 1.875rem;
  /* Font Weights */
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
  /* Colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-soft-white: hsl(0, 0%, 96%);
  --clr-light-gray: hsl(0, 0%, 84%);
  --clr-near-black: hsl(233, 12%, 13%);
  --clr-linkedin-blue: hsl(201, 100%, 35%);
  --clr-orange: hsl(37, 98%, 53%);
  /* backgrounds */
  --bg-extra-dark: hsl(227, 11%, 15%);
  --bg-dark: hsl(221, 51%, 16%);
  /* Border Radius */
  --br-extra-soft: 6px;
  --br-soft: 10px;
}

/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Base Styles */
body {
  display: grid;
  place-items: center;
  font-family: var(--ff-primary);
  font-size: var(--fs-300);
  color: var(--clr-light-gray);
  background: var(--bg-extra-dark);
}

.card {
  max-width: 320px;
  overflow: hidden;
  border-radius: var(--br-soft);
  background: var(--bg-dark);
}

a.button {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  font-size: var(--fs-400);
  border-radius: var(--br-extra-soft);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.5em 0.75em;
  min-width: 10ch;
  transition: 200ms all ease-in-out;
}

a.button:hover,
a.button:focus {
  opacity: 0.8;
}

.info,
.about,
.interests,
.footer {
  padding-inline: 2.25rem;
}

.about {
  padding-bottom: 1rem;
}

.info,
.interests {
  padding-bottom: 2rem;
}

.about h2, .interests h2 {
  color: var(--clr-white);
  font-weight: var(--fw-600);
}

/* Info Section */
.profile-image {
  width: 100%;
  object-fit: cover;
}

.info {
  padding-top: 1.25rem;
  text-align: center;
}

.name-heading {
  font-size: var(--fs-700);
  font-weight: var(--fw-700);
  color: var(--clr-white);
}

.title {
  font-size: var(--fs-400);
  margin-bottom: .5rem;
  color: var(--clr-orange);
}

.web-link {
  font-size: var(--fs-300);
  color: var(--clr-soft-white);
  text-decoration: none;
  transition: 200ms all ease-in-out;
}

.web-link:hover,
.web-link:focus {
  color: var(--clr-light-gray);
  text-decoration: underline;
}

.button-container {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.email-button {
  background: var(--clr-white);
  color: var(--clr-near-black);
}

.social-button {
  background-color: var(--clr-linkedin-blue);
  color: var(--clr-white);
}

/* About, Interests Sections */

/* Footer */
.footer {
  padding-block: 1.25rem;
  background: var(--clr-near-black);
}

.socials-list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}